<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <a href="/new">-> Make a new message</a>
    <ul style="list-style: none;">
      <% messages.map((message) => { %>
      <li>
        <strong><%= message.name %></strong><br>
        <%= message.message %><br> 
        <%= message.date %>
      </li>
      <%
        const customLink = '/' + message.user;
      %>
      <a href="/<%= message.name %>"<%= message.name %>>Detail</a>
      <% }) %>
    </ul>
  </body>
</html>
